.header {
    padding-right: 29px;
    padding-left: 29px;
}

.header .logo {
    width: 223px;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-right: 1px solid #ededed;

}

.logo .img {
    object-fit: contain;
    vertical-align: middle;
    cursor: pointer;
}

.logo .company-name {
    vertical-align: middle;
    margin-left: 14px;
    margin-bottom: 0px;

}

.search-box {
    position: relative;
    isolation: isolate;
    margin-left: 28px;

}

.search-box::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #F5F4F6;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;

}

.search-box .icon-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
}

.search-box .search-input {
    width: 358px;
    height: 35px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 22px 37px;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.user-action .notification-wrapper {
    margin-right: 29px;
    position: relative;
}

.user-action .notification-wrapper::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    background: #FF5E6F;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.user-action .notification-wrapper .notification-icon {
    object-fit: contain;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.user-action .user-image {
    width: 35px;
    height: 35px;
    object-fit: contain;
    border-radius: 50%;
}